services:
  redis:
    image: redis/redis-stack-server:latest
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
